body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f80000;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  body{
        background-color: #000;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(54, 20, 20);
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  article {
    width: 30%;
    margin-bottom: 20px;
  }
  
  article img {
    width: 100%;
  }
  
  footer {
    background-color: #000000;
    text-align: center;
    padding: 15px;
  }
  